body {}

.container {
    width: 90%;
    margin: auto;
    color: brown;
    text-align: left;
}

.cabecera {
    text-align: center;
    height: 30%;
    background-color: cornsilk;
    align-content: center;
}

.container p {
    color: darkblue;
}

.container.imagen {
    width: 200px;
    height: 200px;
}

.imagen img {
    width: 50%;
    height: auto;
}

@supports(object-fit: cover) {
    .imagen img {
        height: 50%;
        object-fit: cover;
        object-position: center center;
    }
}