body {}

.container {
    color: brown;
    text-align: center;
}

.container.imagen {
    width: 200px;
    height: 200px;
}

.imagen img {
    width: 50%;
    height: auto;
}

@supports(object-fit: cover) {
    .imagen img {
        height: 50%;
        object-fit: cover;
        object-position: center center;
    }
}